{% extends 'app/base.html' %}
{% load humanize %}

{% block display_nav %}Table List{% endblock %}
{% block active_nav_name %}Table List{% endblock %}

{% block content %}
  <div class="content">
  <div class="container-fluid">
  <div class="row">

  <div class="col-md-12"> <div class="card"> <div class="card-header card-header-primary">
              <h4 class="card-title ">
                  {{ q|default:"" }}エンジニア
                  {% if count %}
                    {{ count }}人
                  {% endif %}
              </h4>
              <form class="navbar-form" action="/tables" method="GET">
                  <div class="input-group no-border">
                      <input type="text" value="" class="form-control" placeholder="Search..." name="q">
                      <button type="submit" class="btn btn-white btn-round btn-just-icon">
                          <i class="material-icons">search</i>
                          <div class="ripple-container"></div>
                      </button>
                  </div>
              </form>
          </div>
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-hover">
                      <thead class="text-primary">
                      <th class="good">
                      </th>
                      <th class="name">
                          名前
                      </th>
                      <th class="place">
                          場所
                      </th>
                      <th class="follower">
                          フォロワー
                      </th>
                      <th class="follow">
                          フォロー
                      </th>
                      <th class="introduction">
                          紹介文
                      </th>
                      </thead>
                      <tbody>
                      {% for item in twitter_users %}

                            {% if item.id in liked_user %}
                              <tr style="background-color: #d2cafc;">
                            {% else %}
                              <tr>
                            {% endif %}
                            <td>
                            <a href="{% url 'app:like' item.id %}"><i class="fas fa-thumbs-up"></i></a></td>
                            <td><a href='https://twitter.com/{{item.screen_name}}' target="_blank">{{item.name}}</a></td>
                            <td>{{item.location}}</td>
                            <td>{{item.followers_count|intcomma}}</td>
                            <td>{{item.follows_count|intcomma}}</td>
                            <td>{{item.description|urlize}}</td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                      <i class="material-icons">search</i>
                      <div class="ripple-container"></div>
                    </button>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>
  </div>

{#  {% if is_paginated %}#}
{#      <div class="pagination">#}
{#      <div class="previous-button" style="float: left; width: 50%;">#}
{#                  {% if page_obj.has_previous %}#}
{#                      {% if q %}#}
{#                          <a href="?page={{ page_obj.previous_page_number }}&q={{ q }}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">&lt;&lt; Prev</a>#}
{#                      {% else %}#}
{#                          <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">&lt;&lt; Prev</a>#}
{#                      {% endif %}#}
{#                  {% else %}#}
{#                      <a href="#" class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true">&lt;&lt; Prev</a>#}
{#                  {% endif %}#}
{#      </div>#}
{#      <div class="next-button" style=" width: 50%; float: right; text-align: right;">#}
{#                  {% if page_obj.has_next %}#}
{#                      {% if q %}#}
{#                          <a href="?page={{ page_obj.next_page_number }}&q={{ q }}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Next &gt;&gt;</a>#}
{#                      {% else %}#}
{#                          <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Next &gt;&gt;</a>#}
{#                      {% endif %}#}
{#                  {% else %}#}
{#                      <a href="#" class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true">Next &gt;&gt;</a>#}
{#                  {% endif %}#}
{#      </div>#}
{#      </div>#}
{#  {% endif %}#}
  <div style="clear: both;"></div>

  <script>
      var activeElement = document.getElementById('table');
      activeElement.classList.add('active');
  </script>
{% endblock %}
