 <!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}

 <html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>{% block title %}{% endblock %}</title>
     {% block extra_css %}{% endblock %}
 </head>
 <body>
 <main class="container">
   {% block content %}{% endblock %}
 </main>

 {% block extra_js %}{% endblock %}
 </body>
 </html>
